* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 32px 0 100px 42px
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 36px;
}

.button-header {
    background: #6FBF44;
    border: none;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image{
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

.container-main {
    display: inline-block;
    margin-left: 85px;
}

h1 { 
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    width: 582px
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-continue {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    margin-top: 55px;
    cursor: pointer;
}

@media screen and (max-width: 900px){

    a {
            display:none;
        }

    .button-header {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        position: absolute;
        height: 35px;
        left: 50%;
        top: 15px;
        margin: 17px 15px;
    }

    .logo-image {
            width: 312px;
            height: 288px;
           /* margin: 490px 39px 22px 39px; */
            position: absolute;
            top: 490px;
            right: 39px;
            bottom: 22px;
            left: 39px;
        }

    .container-main {
        text-align: center;
        margin-left: 180px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        width: 278px;
        height: 60px;
        
    }

    p {
        font-size: 18px;
        line-height: 33px;
        width: 304px;
        height: 165px;
        margin-top: 20px;
    }

    .button-continue {
       display: block;
       margin-top: -30px;
    }

    }

   